[submodule "Python/PyDogPack"]
	path = Python/PyDogPack
	url = git@github.com:caleblogemann/pydogpack.git
[submodule "Papers/ThinFilmPaper"]
	path = Papers/ThinFilmPaper
	url = git@bitbucket.org:imsejae/thin-film-logemann.git
[submodule "presentations/PhDDefense"]
	path = presentations/PhDDefense
	url = github.com:caleblogemann/PhDDefense
[submodule "papers/PhDThesis"]
	path = papers/PhDThesis
	url = github.com:caleblogemann/PhDThesis
